:root
{
    --colorMain : rgb(248, 248, 248);
    --colorSecondary : rgb(255, 255, 255);
    --colorAccent :rgb(97, 97, 97);
    --colorWarning :rgb(207, 43, 43);
    
    --colorMainLight : rgb(250, 253, 242);
    --colorSecondaryLight : rgb(255, 255, 255);
    --colorAccentLight :  rgb(97, 97, 97);
    
    --colorMainDark : #343a40;
    --colorSecondaryDark : rgb(58, 62, 66);
    --colorAccentDark : rgb(90, 197, 222);
    
    --colorMainContrast :  rgb(0, 0, 0);
    --colorSecondaryContrast :  rgb(0, 0, 0);
    --colorAccentContrast : rgb(255, 255, 0);
    
    --colorButton : rgb(150, 120, 150);
}

html > body
{
    background-color: var(--colorMain);
}

html button
{
    background-color: var(--colorButton);
    outline: 0;
    border: 0;
}

html a
{
    text-decoration: none;
}

button, button > a,
button.btn
{
    color: var(--colorAccent);
}

html a:hover,
button:hover,
button.btn:hover,
button.btn:focus,
button.btn:hover a
{
    text-decoration: none;
    color: var(--colorAccent);
}

a.btn,
a.btn:hover
{
    border-color: var(--colorAccent);
}

.storyListItem:nth-child(3n + 1) {
    grid-column: auto / span 2;
}